<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs%>
    <link rel="stylesheet" href="/estilosAbout.css">
    <title>ExpressBooks</title>
</head>
<body>
    <% include partials/navigation.ejs %>
    <div class="container">
        <h2 class="p-4">Esto que es?</h2>
        <p class="pl-4">
            Se trata de una aplicacion web encargada de guardar los datos de tus libros de interes
        </p>
    </div>
</body>
</html>